* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    width: 100%;
    height: 100vh;
    background-image: url(imagens/imagem-naruto.png);
    background-size: cover;
    color: #f3f3f3;
}

/* NAVBAR - LOGO E LINKS */
.navbar{
    height: 30px;
    padding: 0.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    margin-left: 5em;
    margin-top:2em;
    width: 100px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-right: 4.5em ;
    margin-top: 3.4em;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Lato' sans-serif;
    font-weight: bold;
}
ul li a:hover{
    color: red;
    transition: 1s;

}

/* CORPO DO SITE */

main {
    width: 100%;
    height: 100%;
    padding: 1rem; 
}

section {
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 0.625rem;
}

.centro {
    text-align: center;
    background-color: red;
    font-size: 20px;
}

.questao {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#numQuestao {
    display: block;
    background: red;
    padding: 4px 10px 2px 10px;
    border-radius: 50%;
}

#pergunta {
    margin-left: 1rem;
}


.questoes {
    width: 500px;
    height: 350px;
    padding: 1.5rem;
    border: 1px solid #ececec;
    border-radius: 20px;
    margin-bottom: 2rem;
    background: rgba(0, 0, 0, 0.5);
    border-style: none;
}

.questoes ol li {
    display: block;
    margin: 1rem;
    padding: 15px;
    border-radius: 8px;
}

.questoes ol li:hover {
    background: #ff0000;
    cursor: pointer;
}

.bloqueado {
    display: none;
}

.bloqueado li:hover {
    display: none;
}

#instrucoes {
    background:  rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 0.625rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    animation: piscar .75s infinite alternate;
}

#aviso {
    
    color: #e9e9e9;
}

/* ANIMAÇÃO */
.animar {
    animation: piscar .75s infinite alternate;
}

.aparecer {
    animation: aparecer .5s infinite alternate;
}

@keyframes aparecer {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}